<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Food Classification and Calorie Estimation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
      $("#file-picker").change(function(){
          var input = document.getElementById('file-picker');
          for (var i=0; i<input.files.length; i++)
          {
              var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
              if ((ext == 'jpg') || (ext == 'png'))
              {
                  $("#msg").text("Files are supported")
              }
              else
              {
                  $("#msg").text("Files are NOT supported")
                  document.getElementById("file-picker").value ="";
              }
          }
      } );
  </script>
</head>

<body style="background-image: url('{{ url_for('static', filename='bg2.jpg') }}'); background-repeat:no-repeat; background-size: cover; background-position: center; ">
  <div class="login" style="color: green;">
    <h3>Uploaded Image:</h3> 
    <br>
    <img src=" {{url_for('send_image', filename=image_name)}}" style="width:300px;height:300px;">
    <br>
    <span style="color: black;">Name of Food Item - </span> {{name}}
    <br>
    <span style="color: black;">No. of Calories per 100g - </span> {{calories}}
    <br>
    <span style="color: black;">Nutritional Information per 100g- </span> Sugar_g : {{sugar}}, Fiber_g : {{fiber}}, Carbs_g : {{carbs}}, Fat : {{fat}}, Protein_g : {{protein}}, Sodium_mg : {{sodium}}, Potassium_mg : {{potassium}}, Cholesterol_mg : {{cholesterol}}
    <a style="text-decoration: none; display: block; margin: 20px auto;" class="btn btn-primary btn-block btn-large" href="/" role="button">Predict Another image</a>
  </div>
</body>
</html>